$main-color: #00d4ff;
$secondary-color: #083c79;
$white: #ffffff;
$gray: #808080;
$black: #000000;
$error: #d62c1a;
$dark: #444444;
$handleHover: rgba(0,212,255, .356);
$main-gradient: linear-gradient(-90deg, rgba(0,212,255,1) 0%, rgba(25,11,242,1) 100%);
