@import "../../css-constants/index.scss";
.pagination {
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 25px;
  padding: 0;
  overflow: hidden;

  border-radius: 5px;
}

.header ul li {
  flex: auto;

  text-align: center;
}
.page-item.active .page-link {
  color: $black;

  background-color: $main-color;
  ;
}
.page-item .page-link {
  z-index: 3;

  font-size: 1rem;
  font-family: sans-serif;
  color: #ffffff;

  background-color: $secondary-color;
  border-color: transparent;
  cursor: auto;

  user-select: none;
}
