@import '../../font-css/index.css';
@import '../../css-constants/index.scss';

.header{
    font-family: "DreamWood";
    flex-direction: column;
}
.top-panel{
    justify-content: space-between;
    align-items: center;
}
.header_title{
    font-size: 4rem;
    background: linear-gradient(90deg, $white 53%, $main-color 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 10px 10px 0 0
}
.score{
    font-size: 2.25rem;
}
.score span{
    font-family: Lato;
    font-size: 2rem;
    
}
@media (max-width: 576px){

    .top-panel{
        flex-direction: column;
    }

}